@import url("https://ui.dev/font");

:root {
  --black: #000;
  --white: #fff;
  --red: #f32827;
  --purple: #a42ce9;
  --blue: #2d7fea;
  --yellow: #f4f73e;
  --pink: #eb30c1;
  --gold: #ffd500;
  --aqua: #2febd2;
  --gray: #282c35;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--black);
  color: var(--white);
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 50px;
}

.border-container {
  padding: 0;
  margin: 0;
  display: flex;
  background: var(--yellow);
  height: 12px;
  width: 100vw;
}

a {
  color: var(--yellow);
  font-weight: 600;
}

li {
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.nav a {
  font-weight: 900;
  font-size: 25px;
  text-decoration: none;
}

.heading-center {
  margin: 50px;
  text-align: center;
}

.grid {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid li {
  margin: 80px 50px;
  padding: 40px;
}

.grid li:nth-child(3n+1) {
  border-top: 8px solid var(--purple);
}

.grid li:nth-child(3n+2) {
  border-left: 8px solid var(--red);
}

.grid li:nth-child(3n+3) {
  border-bottom: 8px solid var(--blue);
}

.grid h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.grid h3 {
  font-size: 30px;
  margin: 0;
}

.grid p {
  margin-top: 0;
}

.loading {
  text-align: center;
  animation: spin 2s infinite linear;
  font-size: 40px;
  display: block;
  margin: 20px auto;
  font-style: normal;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}